/settings/ipsec/tunnel/ZPE name={{ name }}
/settings/ipsec/tunnel/ZPE initiate_tunnel=start
/settings/ipsec/tunnel/ZPE ike_profile=forti
/settings/ipsec/tunnel/ZPE authentication_method=pre-shared_key
/settings/ipsec/tunnel/ZPE secret={{ secret }}
/settings/ipsec/tunnel/ZPE left_id=@{{ name }}
/settings/ipsec/tunnel/ZPE left_address={{ left_ip_address }}
/settings/ipsec/tunnel/ZPE left_source_ip_address={{ left_source_ip_address }}
/settings/ipsec/tunnel/ZPE left_subnet={{ left_subnet }}
/settings/ipsec/tunnel/ZPE right_id=@forti
/settings/ipsec/tunnel/ZPE right_address={{ right_address }}
/settings/ipsec/tunnel/ZPE right_source_ip_address={{ right_source_ip_address }}
/settings/ipsec/tunnel/ZPE right_subnet={{ right_subnet }}
/settings/ipsec/tunnel/ZPE enable_monitoring=no
/settings/ipsec/tunnel/ZPE enable_virtual_tunnel_interface=yes
/settings/ipsec/tunnel/ZPE vti_mark=-1
/settings/ipsec/tunnel/ZPE vti_address={{ left_source_ip_address }}
/settings/ipsec/tunnel/ZPE vti_interface=vti-forti
/settings/ipsec/tunnel/ZPE automatically_create_vti_routes=yes
/settings/ipsec/tunnel/ZPE share_vti_with_other_connections=yes